<div style="font-style: italic; font-size: 8px; border: dotted; border-radius: 20%; text-align: center;">
  <h1 style="color:#f25e43">
    * The goal is to find the number consisted by 5 unique digits!
  </h1 >
  <h1  style="color:#f25e43">
    * (-) means in response you found the digit but it's place is wrong!
  </h1>
  <h1 style="color:#f25e43">
    * (+) means in response you found the digit and it's place is also correct!
  </h1>
  <h2>
    Good luck on the way to finding the numbers! :)
  <h2>
    You should contact to us thru our social media portals.
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <a style="width: 40px; height: 30px; color:#f56666; font-size: 30px; cursor: pointer;" (click)="openNewTap('https://www.facebook.com/Find-Numbers-105127294799275')" class="fa fa-facebook"></a>
<a style="width: 40px; height: 30px; color:#f56666; font-size: 30px; cursor: pointer;" (click)="openNewTap('https://twitter.com/NumbersFind')" class="fa fa-twitter"></a>
<a style="width: 40px; height: 30px; color:#f56666; font-size: 30px; cursor: pointer;" (click)="openNewTap('https://www.instagram.com/gamefindnumbers/')" class="fa fa-instagram"></a>
  </h2>

  </h2>
  </div>

  <div align="center" >
  <img style="width: 90%; height: 90%; border-style: double; border-color: salmon;" src="../assets/howtoplay.png" >
  </div>
