<div style="font-style: italic; font-size: 8px; border: dotted; border-radius: 20%; text-align: center;">
  <h1 style="color:#f25e43">
    * The goal is to find the number consisted by 5 unique digits!
  </h1 >
  <h1  style="color:#f25e43">
    * (-) means in response you found the digit but it's place is wrong!
  </h1>
  <h1 style="color:#f25e43">
    * (+) means in response you found the digit and it's place is also correct!
  </h1>
  <h2>
    Good luck on the way to finding the numbers! :)
  </h2>
  </div>

  <div align="center" >
  <img style="width: 90%; height: 90%; border-style: double; border-color: salmon;" src="../assets/howtoplay.png" >
  </div>
