<div style="font-style: italic; font-size: 8px; border: dotted; border-radius: 20%; text-align: center;">
  <h1 style="color:#f25e43">
    Developed by Altas Games
  </h1 >
  <h1  style="color:#f25e43">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    You should contact to us thru our social media portals.
    <a style="width: 40px; height: 30px; color:#f56666; font-size: 30px; cursor: pointer;" (click)="openNewTap('https://www.facebook.com/Find-Numbers-105127294799275')" class="fa fa-facebook"></a>
<a style="width: 40px; height: 30px; color:#f56666; font-size: 30px; cursor: pointer;" (click)="openNewTap('https://twitter.com/NumbersFind')" class="fa fa-twitter"></a>
<a style="width: 40px; height: 30px; color:#f56666; font-size: 30px; cursor: pointer;" (click)="openNewTap('https://www.instagram.com/gamefindnumbers/')" class="fa fa-instagram"></a>

  </h1>
  <h1 style="color:#f25e43">
   For login privacy policy : <a style="cursor: pointer;" (click)="openNewTap('https://auth0.com/privacy')" >https://auth0.com/privacy</a>
  </h1>
  </div>


